:root {
  --main-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: --main-font;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}
.header {
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header-container__logo-bg {
  background-image: url(../src/images/header/header-left-cloud.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
}

.header-menu-list {
  text-align: center;
  height: 70px;
  padding-top: 6px;
}
.header-menu-list__item {
  font-family: --main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-decoration-line: underline;
  color: #715d00;
}
.header-menu-list__item:not(:last-child) {
  margin-bottom: 5px;
}
.header-menu-list__bg {
  background-image: url(../src/images/header/header-right-cloud.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .header-container__logo-bg {
    width: 300px;
  }

  .header-menu-list__item {
    font-size: 20px;
  }

  .header-menu-list {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu-list__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .header-menu-list__bg {
    min-width: 300px;
  }
}
@media screen and (min-width: 1140px) {
  .header-container__logo-bg {
    width: 330px;
    height: 113px;
  }

  .header-menu-list__bg {
    width: 446px;
    height: 100px;
  }
}
.logo {
  display: inline-block;
  width: 138px;
  margin-top: 3px;
  margin-left: 3px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 283px;
  }
}
@media screen and (min-width: 1140px) {
  .logo {
    width: 283px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
.hero {
  padding-top: 150px;
  padding-bottom: 30px;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../src/images/hero/hero-main-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  font-family: --main-font;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.17;
  text-align: center;
  color: #f9e994;
}

.hero-features__description {
  margin-top: 42px;
  font-family: --main-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.31;
  color: #f6f7e4;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.hero-features-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-feature-list {
  margin-top: 40px;
  padding-top: 35px;
  padding-right: 30px;
  padding-bottom: 38px;
  padding-left: 35px;
  background: #7fb3e1;
  border-radius: 20px;
}
.hero-feature-list__item {
  padding-left: 35px;
  font-family: --main-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  color: #dfe4de;
  background-image: url(../src/images/hero/hero-cat-mark.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.hero-img {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.order-form-wrapper {
  display: flex;
  justify-content: center;
}

.order-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: #fdfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 10px 10px;
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  margin-bottom: 20px;
}
.order-form__header {
  font-family: --main-font;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.18;
  color: #483c08;
}
.order-form__timer {
  font-family: --main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #f6e791;
}
.order-form__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 151px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #7fb3e1;
  position: absolute;
  top: 0;
  padding-top: 23px;
  text-align: center;
}
.order-form__description:after {
  content: "";
  height: 0;
  width: 300px;
  position: absolute;
  left: 0;
  top: 150px;
  transform: rotate(180deg);
  border-bottom: 20px solid #7fb3e1;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
.order-form__body {
  margin-top: 165px;
  display: flex;
  flex-direction: column;
}
.order-form__main-price {
  position: relative;
  font-family: --main-font;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  color: #6b6b6b;
  margin-right: 16px;
}
.order-form__main-price:before {
  border-bottom: 2px solid #f6be91;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  transform: rotate(-7deg);
  bottom: 0;
  transform: rotate(162.55deg);
}
.order-form__sell-price {
  font-family: --main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #483c08;
}
.order-form__btn {
  background: #a1d337;
  border-radius: 30px;
  border: none;
  font-family: --main-font;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-top: 22px;
}
.order-form__wrapper {
  position: relative;
}
.order-form__input {
  background: #f3efef;
  border-radius: 30px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  width: 100%;
  background-image: url("../src/images/hero/hero-cat-mark-2.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.order-form__input:first-child {
  margin-bottom: 15px;
}
.order-form__input::placeholder {
  font-family: --main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.35;
  color: #777777;
}
.order-form__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.order-form__date {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #444444;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../src/images/hero/hero-main-img@2x.webp);
  }
}
@media screen and (min-width: 425px) {
  .hero-feature-list {
    max-width: 329px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 578px;
    margin: 0 auto;
  }

  .hero-img {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1140px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .hero-features-wrapper {
    width: 330px;
  }

  .hero-img {
    position: absolute;
    z-index: 99;
    left: 200px;
    width: 710px;
    height: 417px;
    top: 50px;
  }
}
.about-product {
  background-image: url(../src/images/about/about-pet-paw.svg);
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-product__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.34;
  text-align: center;
  background-color: #537d13;
  /* Create the gradient. */
  background-image: linear-gradient(180deg, #f9e994 6%, #537d13 30%, #483c08 100%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-product-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-product-list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 305px;
  height: 439px;
  background: #f6e791;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.about-product-list__item_padding {
  padding-top: 0;
  margin-bottom: 0;
}
.about-product-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.about-product-features {
  background: rgba(161, 211, 55, 0.4);
  border-radius: 20px;
  height: 100%;
  padding-top: 21px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 23px;
  text-align: center;
  margin-top: 10px;
}
.about-product-features_padding {
  margin-top: 0;
}
.about-product-features__title {
  font-family: --main-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.about-product-features__description {
  margin-top: 19px;
  font-family: --main-font;
  font-size: 18px;
  line-height: 1.17;
  color: #483c08;
}

@media screen and (min-width: 768px) {
  .about-product {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-product__title {
    background-image: linear-gradient(180deg, #f9e994 5%, #537d13 70%, #483c08 100%);
    font-size: 52px;
    line-height: 2.34;
  }

  .about-product-list {
    margin-top: 60px;
  }
  .about-product-list__item {
    margin-bottom: 0;
  }
  .about-product-list__item:not(:last-child) {
    margin-right: 84px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1140px) {
  .about-product-list {
    flex-direction: row;
  }
}
.results {
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: linear-gradient(180deg, #e1edf8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%), url(../src/images/results/results-bg.webp);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.results__title {
  font-family: --main-font;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.17;
  text-align: center;
  color: #537d13;
}
.results__description {
  font-family: --main-font;
  font-size: 18px;
  line-height: 1.28;
  color: #483c08;
  border: 20px solid #d4df6d;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
}
.results__img {
  margin-top: 20px;
}

.results-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .results {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}/*# sourceMappingURL=main.css.map */