.header {
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;

  &__logo-bg {
    background-image: url(../src/images/header/header-left-cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
  }
}

.header-menu-list {
  text-align: center;
  height: 70px;
  padding-top: 6px;

  &__link {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-decoration-line: underline;
    color: #715d00;
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__bg {
    background-image: url(../src/images/header/header-right-cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    &__logo-bg {
      width: 300px;
    }
  }
  .header-menu-list {
    &__link {
      font-size: 20px;
    }
  }

  .header-menu-list {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__item:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 20px;
    }

    &__bg {
      min-width: 300px;
    }
  }
}

@media screen and (min-width: 1140px) {
  .header-container {
    &__logo-bg {
      width: 330px;
      height: 113px;
    }
  }
  .header-menu-list {
    &__bg {
      width: 446px;
      height: 100px;
    }
  }
}
