.hero {
  padding-top: 150px;
  padding-bottom: 30px;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../src/images/hero/hero-main-img.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-family: --main-font;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.17;
    text-align: center;
    color: #f9e994;
  }
}

.hero-features {
  &__description {
    margin-top: 42px;
    font-family: --main-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.31;
    color: #f6f7e4;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
}

.hero-features-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-feature-list {
  margin-top: 40px;
  padding-top: 35px;
  padding-right: 30px;
  padding-bottom: 38px;
  padding-left: 35px;
  background: #7fb3e1;
  border-radius: 20px;

  &__item {
    padding-left: 35px;
    font-family: --main-font;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    color: #dfe4de;
    background-image: url(../src/images/hero/hero-cat-mark.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }
}

.hero-img {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.order-form-wrapper {
  display: flex;
  justify-content: center;
}

.order-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  background: #fdfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 10px 10px;
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  margin-bottom: 20px;

  &__header {
    font-family: --main-font;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.18;
    color: #483c08;
  }

  &__timer {
    font-family: --main-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #f6e791;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 151px;
    width: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #7fb3e1;
    position: absolute;
    top: 0;
    padding-top: 23px;
    text-align: center;
  }

  &__description:after {
    content: '';
    height: 0;
    width: 270px;
    position: absolute;
    left: 0;
    top: 150px;
    transform: rotate(180deg);
    border-bottom: 20px solid #7fb3e1;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
  }

  &__body {
    margin-top: 165px;
    display: flex;
    flex-direction: column;
  }

  &__main-price {
    position: relative;
    font-family: --main-font;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    color: #6b6b6b;
    margin-right: 16px;
  }

  &__main-price:before {
    border-bottom: 2px solid #f6be91;
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    transform: rotate(-7deg);
    bottom: 0;
    transform: rotate(162.55deg);
  }

  &__sell-price {
    font-family: --main-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #483c08;
  }

  &__btn {
    background: #a1d337;
    border-radius: 30px;
    border: none;
    font-family: --main-font;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-top: 22px;
  }

  &__wrapper {
    position: relative;
  }

  &__input {
    background: #f3efef;
    border-radius: 30px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    width: 100%;
    background-image: url('../src/images/hero/hero-cat-mark-2.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }

  &__input:first-child {
    margin-bottom: 15px;
  }

  &__input::placeholder {
    font-family: --main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.35;
    color: #777777;
  }

  &__input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__date {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../src/images/hero/hero-main-img@2x.webp);
  }
}

@media screen and (min-width: 425px) {
  .hero-feature-list {
    max-width: 329px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    // height: 844px;

    &__title {
      width: 578px;
      margin: 0 auto;
    }
  }
  .hero-img {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1140px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .hero-features-wrapper {
    width: 330px;
  }

  .hero-img {
    position: absolute;
    z-index: 99;
    left: 220px;
    width: 710px;
    height: 417px;
    top: 35px;
  }

  .order-form {
    top: 20px;
  }
}
