.results {
  padding-top: 50px;
  padding-bottom: 70px;

  background-image: linear-gradient(
      180deg,
      #e1edf8 0%,
      rgba(127, 179, 225, 0) 59.37%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url(../src/images/results/results-bg.webp);
  background-repeat: no-repeat;
  background-position: left bottom;

  &__title {
    font-family: --main-font;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.17;
    text-align: center;
    color: #537d13;
  }

  &__description {
    font-family: --main-font;
    font-size: 18px;
    line-height: 1.28;
    color: #483c08;
    border: 20px solid #d4df6d;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
  }

  &__img {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .results {
    padding-top: 100px;
  }
}
