.results {
  padding-top: 50px;
  padding-bottom: 70px;

  background-image: linear-gradient(
      180deg,
      #e1edf8 0%,
      rgba(127, 179, 225, 0) 59.37%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url(../src/images/results/results-bg.webp);
  background-repeat: no-repeat;
  background-position: left bottom;

  &__title {
    font-family: --main-font;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.17;
    text-align: center;
    color: #537d13;
  }

  &__description {
    font-family: --main-font;
    font-size: 18px;
    line-height: 1.28;
    color: #483c08;
    border: 20px solid #d4df6d;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    max-width: 650px;
  }

  &__img {
    margin-top: 20px;
  }
}

.results-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
  .results {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .results {
    &__description {
      position: relative;
      margin-right: 28px;
      border-right-color: transparent;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 41px;
    }

    // &__description:after {
    //   content: '';
    //   position: absolute;
    //   width: 170px;
    //   height: 170px;
    //   border-top: 20px solid #d4df6d;
    //   border-right: 20px solid #d4df6d;
    //   border-radius: 20px;
    //   top: 20px;
    //   right: -75px;
    //   transform: rotate(45deg);
    // }

    &__description:before {
      content: '';
      position: absolute;
      top: 59px;
      right: -106px;
      height: 6%;
      width: 29%;
      background: #d4df6d;
      transform: skew(0deg, 4deg) rotate(-100deg);
      border-radius: 5px;
      /* border-top-right-radius: 20px; */
      border-bottom-right-radius: 100px;
    }

    &__description:after {
      content: '';
      position: absolute;
      top: 230px;
      right: -107px;
      height: 6%;
      width: 29%;
      background: #d4df6d;
      transform: skew(0deg, 4deg) rotate(100deg);
      border-radius: 5px;
      border-top-right-radius: 30px;
    }
  }
}

@media screen and (min-width: 1140px) {
  .results {
    padding-top: 100px;

    &__description {
      margin-right: 28px;
    }
  }

  .results-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
