.results {
  padding-top: 50px;
  padding-bottom: 70px;

  background-image: linear-gradient(
      180deg,
      #e1edf8 0%,
      rgba(127, 179, 225, 0) 59.37%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url(../src/images/results/results-bg.webp);
  background-repeat: no-repeat;
  background-position: left bottom;

  &__title {
    font-family: --main-font;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.17;
    text-align: center;
    color: #537d13;
  }

  &__description {
    font-family: --main-font;
    font-size: 18px;
    line-height: 1.28;
    color: #483c08;
    border: 20px solid #d4df6d;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
  }

  &__img {
    margin-top: 20px;
  }
}

.results-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .results {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
// &__description {
//   width: 300px;
//   padding: 20px 10px;
//   position: relative;
//   background: #fff;
//   border: 1px solid orange;
// }
// &__description::after,
// &__description::before {
//   content: '';
//   border: solid transparent;
//   position: absolute;
//   left: 100%;
//   top: 50%;
// }
// &__description::after {
//   border-left-color: #fff;
//   border-width: 8px;
//   margin-top: -8px;
// }
// &__description::before {
//   border-left-color: orange;
//   border-width: 9px;
//   margin-top: -9px;
// }

// &__description::before,
// &__description::after {
//   content: '';
//   border: solid transparent;
//   position: absolute;
//   left: 50%;
//   margin-left: -12px;
//   bottom: -27px;
//   width: 0;
// }
// &__description::before {
//   border-top-color: rgb(114, 71, 148);
//   border-width: 12px;
// }
// &__description::after {
//   border-top-color: rgb(191, 192, 245);
//   border-width: 16px;
//   margin-left: -16px;
// }
